*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"poppins","sans-serif";
    
}
.heading{
    margin-bottom: 0;
    font-weight:800;
    display: block;
    
}
span{
    color:orangered;
}


.photo img{
    width: 100%;
    height:500px;
    display:block;


}
.nav-item ul li{
    list-style:none;
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-item li a{
    padding:5px 20px;
    border-radius: 15px;
    transition: 0.5s;
}
.nav-item li a:hover{
    background:red;
    color:#fff;
}

a{
    text-decoration: none;
    font-weight:500;
    color:aliceblue;
}
.sec2{
    background-color:#fff;
    margin-top: 50px;
    margin-bottom:50px;
    padding: 30px;
    display: block;
    
}
h2{
    text-transform:capitalize;
}
.clearfix{
    position: relative;
}

.col-md-6{
    width:300px;
    border: 5px solid #fff;
    border-radius: 20%;
    box-sizing: border-box;
    
    
   
}
.text{
    width: 70%;
    display: block;
}

.sec-3{
     background-color:#fff;
}
.card-img-top{
    height:300px;

} 
#footer-content {
    text-align:center;
    margin-bottom: 0;
}
.last-sec{
    background-color:#091444;
    color:#fff;
    padding:30px;
    display: block;
}
h4{
    text-transform: capitalize;
    letter-spacing: 1px;
}
.list li{
    text-decoration: none;
    list-style: none;
}
.ft{
    text-transform: capitalize;
    text-decoration: none;
    color:#fff;
    word-spacing: 1px;
    letter-spacing: 1px;
}    

